<div class="media-player">
  <ng-container *ngTemplateOutlet="artist"></ng-container>
  <ng-container *ngTemplateOutlet="media"></ng-container>
  <ng-container *ngTemplateOutlet="tools"></ng-container>
</div>

<ng-template #artist>
  
  <div class="media-artist" *ngIf="service.trackInfo | async as mockCover">
    
      <img
        appBrokenImg
        [alternativeImg]="'https://images.pond5.com/glitch-effect-arises-list-music-footage-132386161_iconl.jpeg'"
        class="media-artist__image"
        src={{mockCover.cover}}
        alt=""
      />
   

    <div class="media-artist__info">
      <p>{{mockCover.name}}</p>
      <p>{{mockCover.album}}</p>
    </div>

    <i class="media-artist__like uil uil-heart"></i>

  </div>
  
</ng-template>

<ng-template #media>
  
    <div class="media-controls">
        <div class="media-controls__principal">
            <i class="uil uil-previous media-controls__principal-icon"></i>
            <button (click)="service.togglePlaying()">
             
              <i class="uil uil-{{(service.playingStatus  | async)=== 'paused' ? 'play' : 'pause'}} media-controls__principal-icon"></i>
            </button>
            <i class="uil uil-step-forward media-controls__principal-icon"></i>
        </div>
        <div class="media-controls__progress">
            <progress #progress class="media-controls__progress-bar" min="0" max="100" value="{{service.elapsedPercentage | async}}" (click) ='printProgress($event)'></progress>
        </div>
        <div class="media-controls__time">
            <span>{{service.elapsedTime | async}}</span>
            <span>{{service.totalTime | async}}</span>
        </div>
    </div>

</ng-template>

<ng-template #tools>
  <div class="media-controls__tool">
    <i class="uil uil-unlock media-controls__tool-icon"></i>
    <i class="uil uil-list-ul media-controls__tool-icon"></i>
    <i class="uil uil-volume-down  media-controls__tool-icon"></i>
  </div>
</ng-template>
